<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Alunos</title>
</head>
<body style="background-color: #75FCA1">
    <div class="container">
        <h1>Alunos</h1><br>
          <a href = "/form" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        <table>
            <thead>
                <th>Id</th>
                <th>Nome</th>
                <th>Curso</th>
                <th>Opções</th>
            </thead>
            <for|aluno, index| of=data.results>
                <tr>
                    <td>${aluno.id}</td>
                    <td>${aluno.nome}</td>
                    <td>${aluno.curso}</td>
                    <td>
                        <a href="/form/${aluno.id}">EDITAR</a> |
                        <a href="/alunos/delete/${aluno.id}">DELETAR</a>
                    </td>
                </tr>
            </for>
        </table>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <for|message, index| of=data.error_messages>
        <script>
            M.toast({
                html: '${message}',
                classes: 'red lighten-1'
        })
        </script>
    </for>

    <for|message, index| of=data.success_messages>
        <script>
            M.toast({
                html: '${message}',
                classes: 'green darken-3'
            })
        </script>
    </for>
    

</body>
</html>